
/* This is a CSS Document */


	
	#container{width: 800px;height: 600px; border: solid 1px black; margin-left:auto;margin-right:auto;margin-top: 50px;}
		
			.image_div{width: 400px;height: 300px;float:left;}
				#img1{background: url("images/giraffe.jpg") -400px -300px;}
				#img2{background: url("images/giraffe.jpg") 0px -300px;}
				#img3{background: url("images/giraffe.jpg") -400px 0px;}
				#img4{background: url("images/giraffe.jpg") 0px 0px;}
				
				#container:hover #img1{background: url("images/giraffe.jpg") 0px 0px;}
				#container:hover #img2{background: url("images/giraffe.jpg") -400px 0px;}
				#container:hover #img3{background: url("images/giraffe.jpg") 0px -300px;}
				#container:hover #img4{background: url("images/giraffe.jpg") -400px -300px;}
				
				